.techstack {

  font-family: sans-serif;
  padding-left: 130px;
  margin-top: 100px;
}
.techstack hr {

  font-family: sans-serif;
  color: #7396f5;
  width: 400px;
  margin: 20px auto;
}

.techstack h2 {

  font-family: sans-serif;
  font-weight: 600;
  color: blue;
}



.techstack .card {
  
  font-family: sans-serif;
  cursor: pointer;
}

.name {

font-family: sans-serif;
  margin-top: 6px;
  margin-left: 10px;
}

.container p {
margin-top: 30px;
  font-family: sans-serif;
  color: gray ;
 font-weight: 500;
  text-align: justify;
}

.techstack .tech-icon {
  margin-top: 3px;

  color: #1365f2;

  font-size: 2rem;
  margin-right: 10px;
}

.techstack .card:hover {
  font-family: sans-serif;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  

  transition: 1s;
}

/* Drak mode  */

#dark .techstack {
  background-color: rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
  padding-left: 130px;
  margin-top: 100px;
}

#dark .techstack .card {
  color: white;
  background-color: rgba(0, 0, 0, 0.15);
  font-family: sans-serif;
  cursor: pointer;
}

#dark .container p {
  margin-top: 30px;
    font-family: sans-serif;
    color: white ;
   font-weight: 500;
    text-align: justify;
  }
  





/* =============================== */
@media (max-width: 600px) {
  .techstack {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }

  .techstack hr {
    font-family: sans-serif;
    width: 280px;
  }
}


/* dark */
@media (max-width: 600px) {
 #dark .techstack {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }

 #dark .techstack hr {
    font-family: sans-serif;
    width: 280px;
  }
}
